body
{
    padding: 0;
    margin: 0;
}
.search-container
{
    background-image: url("../img/company.jpg");
    background-size: cover;
    height: 650px;
}
.search-content
{
 
 text-align: center;
 padding-top: 15%;
}
.search-content input
{
    padding: 12px 10px;
    border: 1px solid;
    border-radius: 8px;
    font-size: 1.125rem;
    width: 50%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}



